{% comment %} {% load staticfiles %} !<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'home_style/style.css' %}" />
  </head>
  <body>
    {{ match_list }}

    <script src="" async defer></script>
  </body>
</html> {% endcomment %}

<body style="background-color: teal;"></body>
<h1>Where do you want to eat tonight?</h1>
<button id="myBtn" style="border: 1px solid red; background-color: gray;"><a href="login/">Log In</a></button>
<ul>
  {% for restaurant in restaurants %}

<li><a href="/restaurant/{{restaurant.id}}/">{{restaurant.name}}</a> 
  <br />
</li>

{% endfor %}
<button id="myBtn" style="border: 1px solid red; background-color: gray;"><a href="logout/">Log Out</a></button>
</ul>
