{% extends 'base.html' %} {% block navbar %} {% include 'nav.html' %}{% endblock %} {% block content %} {% include
"rest_detail.html" %}
<div id="content" , name="content" , class="index-styles">
  <h1 class="mt-2">What restaurants are open near me?</h1>

  {% comment%}
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for restaurant in restaurants %}
      <div class="item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{ forloop.counter }}">
        <div class="carousel-item">
          <div class="rest-cards">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card" style="width: 20rem">
                    <img
                      class="card-img-top img- fluid"
                      src="{{restaurant.pic_icon.url}}"
                      alt="{{ restaurant.name }}"
                    />
                    <div class="card-body">
                      <h4 class="card-title">{{restaurant.name}}</h4>
                      <p class="card-text">Flip this card to view details and select some options!</p>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card" style="width: 20rem">
                    <div class="card-header">{{restaurant.name}}</div>
                    <div class="card-body">
                      <a href="/restaurant/{{restaurant.id}}/" class="btn btn-info btn-md">View restaurant Info</a>
                      <a href="/restaurant/{{ restaurant.id }}/favorite/" class="btn btn-info btn-md"
                        >I could eat here tonight!</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    {% endblock %}
  </div>
</div>
{% endcomment %} {% for restaurant in restaurants %} {% comment %}
<div class="item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{ forloop.counter }}">
  {% endcomment %} {% comment %}
  <div class="carousel-item">
    {% endcomment %} {% comment %}
    <div class="rest-cards">
      {% endcomment %}
      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
        <div class="mainflip">
          <div class="frontside">
            <div class="card" style="width: 20rem">
              <img class="card-img-top img- fluid" src="{{restaurant.pic_icon.url}}" alt="{{ restaurant.name }}" />
              <div class="card-body">
                <h4 class="card-title">{{restaurant.name}}</h4>
                <p class="card-text">Flip this card to view details and select some options!</p>
              </div>
            </div>
          </div>
          <div class="backside">
            <div class="card" style="width: 20rem">
              <div class="card-header">{{restaurant.name}}</div>
              <div class="card-body">
                <a href="/restaurant/{{restaurant.id}}/" class="btn btn-info btn-md">View restaurant Info</a>
                <a href="/restaurant/{{ restaurant.id }}/favorite/" class="btn btn-info btn-md"
                  >I could eat here tonight!</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
