{% extends 'base.html' %} {% block header %}
<link src="match.css" />
{% endblock %} {% block content %}
<div id="content" , name="content" , class="main">
  <h1 class="mt-2">What restaurants are open near me?</h1>
  <ul>
    {% for restaurant in restaurants %}
    <li>
      <a class="rest-cards" href="/restaurant/{{restaurant.id}}/"
        >{{restaurant.name}}</a
      >
      <br />

      <img
        height="200"
        width="200"
        src="{{restaurant.pic_icon.url}}"
        alt="{{ restaurant.name }}"
      />
      <br />
      <br />
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
