{% extends 'base.html' %} {% block profile %}
<div class="pro-container">
  <div class="d-flex justify-content-start flex-wrap">
    Username:{{user.username}}
    <br />
    Bio:{{user.bio}}
    <br />
    Email:{{user.email}}
    <br />
    {% if user.picture %}
    <img class="img-thumbnail m-auto" width="200px" height="300px" src="{{user.picture.url}}" />
    {% endif %}
    <br />
    My Favorite Restaurants:{% for favs in user.favorites.all %}
    <ul>
      <a href="/restaurant/{{favs.id}}/">{{favs.name}}</a>
      This place has been favorited {{ favs.num_favs }} times!
      <a href="/restaurant/{{ favs.id }}/{{user.id}}/removefav/">Remove from your favorites</a>
      {% endfor %}
    </ul>
    {% comment %} <a href="/user/{{user.id}}/clearfavs/">Clear all favorited restaurants</a> {% endcomment %}
    <br />
    <a href="/user/{{user.id}}/edit/">Edit your profile</a>
    <br />
    {{new_notes.count}}
    <a href="/user/{{user.id}}/viewmatch/"> View matches</a>
  </div>
</div>
{% endblock %}
