{% extends 'base.html' %} {% block rest_detail %}
<div class="rest_detail_styles">
  <div class="text-effect">
    <!-- Select the text in the preview and type in your own -->
    <div class="gradient">
      <h1 class="neon" data-text="Neon" contenteditable>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{restaurant.name}}</h1>
      <div class="spotlight"></div>
    </div>
  </div>

  <div id="content" name="content" class="rest_detail_styles">
    <br />
    <p>Location:{{restaurant.location}}</p>
    <br />
    <img height="200" src="{{restaurant.pic_icon.url}}" alt="{{ restaurant.name }}" />
    <br />
    <p>This place is known for its {{restaurant.sig_dish}}</p>
    <br />
    <p>
        <figure>
            <figcaption><strong>Menu</strong></figcaption>
            <img class="menu-styles" height="200" src="{{restaurant.menu.url}}" alt="Restaurant Menu Not Available" />
          </figure>
    <br />
    <p>{{restaurant.num_favs}} people have added this restaurant to their favorites list!</p>
    <br />

    <br />
    <p>
    {% if restaurant in user.favorites.all %}
    <button class="fav-button"><a href="/restaurant/{{ restaurant.id }}/unfavorite/">Remove this restaurant from your favorites</a></button>
    {% else %}
    <button class="fav-button"><a href="/restaurant/{{ restaurant.id }}/favorite/">Add this restaurant to your favorites</a></button>
    {% endif %}
</p>  
</div>
</div>
{% endblock %}
