<body style="background-color: bisque"></body>

{{restaurant.name}}
<br />
{{restaurant.location}}
<br />
{{restaurant.pic_icon}}
<br />
This place is known for its {{restaurant.sig_dish}}
<br />
{{restaurant.num_favs}} people have added this restaurant to their favorites list!
<br />

<h2><a href="/restaurant/{{ restaurant.id }}/favorite/">Add this restaurant to your favorites</a></h2>

{% comment %} use for profile fav list links:
<a href="/restaurant/{{restaurant.id}}/">{{restaurant.name}}</a> {% endcomment %}
