{% extends 'base.html' %} {% block navbar %} {% include 'nav.html' %}{% endblock %} {% block content %}
<body>
  <div class="mycontainer">
    <div id="app_choice" , name="main" , class="form-box">
      <form method="POST" action="">
        {% csrf_token %} {{ form.as_p }}

        <input type="submit" value="Submit" class="buttons" />
      </form>
      {% for message in messages %}
      <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">X</a>
        {{message}}
      </div>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock %}
