{% extends 'base.html' %} {% block signup_login_form %}

<div class="mycontainer pro-container mt-2">
  <div id="app_choice" , name="main" , class="">
    <form method="POST" action="">
      {% csrf_token %} {{ form.as_p }}

      <input type="submit" value="Submit" class="buttons" />
    </form>
    {% for message in messages %}
    <div class="alert alert-success">
      <a class="close" href="#" data-dismiss="alert">X</a>
      {{message}}
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
